# SPDX-FileCopyrightText: 2010 - 2024 the Friendica project
#
# SPDX-License-Identifier: CC0-1.0

parameters:
    level: 3

    paths:
        - addon/

    excludePaths:
        analyse:
            - addon/*/lang/*
            - addon/*/vendor/*
            - addon/convert/UnitConvertor.php
            - addon/pumpio/oauth/*
            - addon/mailstream/phpmailer/*

    scanDirectories:
        - mod
        - src
        - static
        - vendor
        - view

    dynamicConstantNames:
        - DB_UPDATE_VERSION

    ignoreErrors: []
