# SPDX-FileCopyrightText: 2010 - 2024 the Friendica project
#
# SPDX-License-Identifier: CC0-1.0

parameters:
    level: 3

    paths:
        - addon/

    excludePaths:
        analyse:
            - addon/*/lang/*
            - addon/*/vendor/*
            - addon/convert/UnitConvertor.php
            - addon/pumpio/oauth/*

    scanDirectories:
        - mod
        - src
        - static
        - vendor
        - view

    dynamicConstantNames:
        - DB_UPDATE_VERSION

    ignoreErrors:

        -
            # Ignore missing SMTP class in PHPMailer 5.2.21
            # see https://github.com/PHPMailer/PHPMailer/blob/v5.2.21/class.smtp.php
            message: '(^.+ an unknown class SMTP\.$)'
            path: addon/mailstream/phpmailer

        -
            # Ignore missing SMTP class in PHPMailer 5.2.21
            # see https://github.com/PHPMailer/PHPMailer/blob/v5.2.21/class.smtp.php
            message: '(^Property .+ has unknown class SMTP as its type\.$)'
            path: addon/mailstream/phpmailer

        -
            # Ignore missing SMTP class in PHPMailer 5.2.21
            # see https://github.com/PHPMailer/PHPMailer/blob/v5.2.21/class.smtp.php
            message: '(^Method .+ has invalid return type SMTP\.$)'
            path: addon/mailstream/phpmailer

        -
            # Ignore missing SMTP class in PHPMailer 5.2.21
            # see https://github.com/PHPMailer/PHPMailer/blob/v5.2.21/class.smtp.php
            message: '(^Instantiated class SMTP not found\.$)'
            path: addon/mailstream/phpmailer
